# General Application Config
NODE_ENV=development
PORT=4000
API_PREFIX=/api/v1

# Frontend URL for CORS
CLIENT_ORIGIN=http://localhost:3000

# Database Configuration (PostgreSQL)
DATABASE_URL="postgresql://erp_admin:erp_secret_password@localhost:5432/society_erp_db?schema=public"

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379

# JWT Secrets & Expiration
JWT_ACCESS_SECRET="super_secret_access_token_key_change_in_production_12345"
JWT_ACCESS_EXPIRATION="15m"
JWT_REFRESH_SECRET="super_secret_refresh_token_key_change_in_production_67890"
JWT_REFRESH_EXPIRATION="7d"

# Cookie Configuration
COOKIE_DOMAIN=localhost
